* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(236, 239, 244);
  font-family: JetBrains Mono, monospace;
  color: #6a7791;
}

html {
  scroll-behavior: smooth;
}

.page-sections {
  height: auto;
  display: flex;
  flex-direction: column;
}

#home,
#contact {
  height: 125vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  background-color: #ccd2e0;
}
#home h1 {
  font-size: 9rem;
  background-color: #ccd2e0;
}
#home p {
  
  margin-top: 16rem;
}

.main-container {
  display: flex;
  margin-left: 13.75rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6a7791;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
