* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(236, 239, 244);
  font-family: JetBrains Mono, monospace;
  color: #6a7791;
}

html {
  scroll-behavior: smooth;
}

.page-sections {
  height: auto;
  display: flex;
  flex-direction: column;
}

#home,
#contact {
  height: 125vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ccd2e0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.04) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
  background-size: 10px 10px; /* smaller grid squares for finer grid */
}

#home p {
  background-color: #00000000;
}

.intro-text {
  margin-top: auto;
  margin-right: auto;
  margin-left: 6rem;
  text-align: left;
  max-width: 50ch;
  background-color: #ccd2e0;
}
.name-text {
  font-size: 6rem;
  background-color: #ccd2e0;
}

.footer-text {
  margin-top: auto;
  margin-bottom: auto;
  background-color: #ccd2e0;
}
.container {
  font-size: 16rem;
  font-weight: bold;
  display: flex;
  align-items: center; /* vertically center 3D and words */
  background-color: #ccd2e000;
}

.word-flip {
  position: relative;
  width: 8ch; /* fixed width to prevent wrapping */
  height: 16rem;
  overflow: hidden;
  margin-left: 0.5rem; /* space from 3D */
  background-color: #ccd2e000;
}

.container span {
  background-color: #ccd2e000;
}
.word {
  position: absolute;
  width: 100%;
  height: 16rem;
  line-height: 16rem;
  transition: transform 0.6s ease;
  background-color: #ccd2e000;
}

.main-container {
  display: flex;
  margin-left: 13.75rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6a7791;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
